
html{
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: consolas;
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#cdcdcd 1.2000000000000002px, #ffffff 1.2000000000000002px);
    background-size: 24px 24px;
}

nav {
    position: sticky;
    top: 0;
    background: #3c3c3c;
    box-shadow: 0 0 15px #00000050;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    max-width: 1200px;
    margin: auto;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.nav-links {
    font-size: 26px;
    font-weight: 600;
    font-family: cursive;
    color: rgb(239, 239, 239);
    margin: 5px;
}

.github-logo {
    height: 40px;
    width: 60px;
    background: #00000030;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}
.create-c, .create-c > .color-container{
    position: sticky;
    top: 45px;
    z-index: 888;
}
.color-palette-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    margin-top: 20px;
}

.create-c {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 253, 243);
    cursor: pointer;
}

.create-c-plus {
    font-size: 48px;
    box-shadow: 0 0 5px #00000020;
    color: #353535;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    transform: scale(1);
    transition: .3s ease all;
}

.create-c:hover .create-c-plus {
    transform: scale(1.1);
}

.color-container {
    /* width: 270px; */
    margin: 30px;
    height: 250px;
    box-shadow: 0 0 30px #00000050;
    border-radius: 8px;
    overflow: hidden;
}

.color {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    height: 25%;
    cursor: pointer;
}

.color:nth-child(1) {
    animation: fadecolor .3s ease-in-out;
}

.color:nth-child(2) {
    animation: fadecolor .5s ease-in-out;
}

.color:nth-child(3) {
    animation: fadecolor .7s ease-in-out;
}

.color:nth-child(4) {
    animation: fadecolor .9s ease-in-out;
}

@keyframes fadecolor {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1);
        top: 0;
    }
}


.color-text {
    position: relative;
    font-size: 18px;
    background: #0000005e;
    color: #fff;
    padding: 8px 20px;
    border-radius: 10px 0 0 0;
    transform: scale(0);
    transition: .3s ease all;
    transform-origin: bottom right;
    overflow: hidden;
}

.color-text::before {
    content: "Copied!";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: 1;
    opacity: 0;
    transition: .2s ease;
}

.copied .color-text::before {
    opacity: 1;
}

.color:hover .color-text {
    transform: scale(1);
}

.create-modal-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000b5;
    transition: .2s ease all;
    ;
    z-index: 9999;
}

.fxed {
    position: fixed;
    top: 0;
}

.create-color-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px #00000030;
    overflow: hidden;
    transition: .2s ease all;
}

.create-color-modal-nav {
    background: #f1f1f1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.m-text {
    font-size: 18px;
    padding: 5px 20px;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
    width: 50px;
    height: 50px;
    margin: 10px;
    background: #3061a1;
    border-radius: 50%;
    cursor: pointer;
}

.animation-fade {

    animation: fade .4s ease;
}

@keyframes fade {
    from {
        top: 45%;
        opacity: 0.50;
    }

    to {
        opacity: 1;
    }
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    margin: auto;
    height: 300px;
}

.generate-btn {
    padding: 8px 25px;
    background: #353535;
    color: #fff;
    width: 140px;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
}

.generate-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.settings-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
    gap: 15px;
    width: 70%;
}

.switch{
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-container{
    text-align: center;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50px;
}
.slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: #fff;
    transition: .4s ease;
    border-radius: 50%;
}

input:checked + .redc{
    background: #f32323;
}
input:checked + .bluec{
    background: #2349f3;
}
input:checked + .greenc{
    background: #4df323;
}
input:checked + .dark{
    background: #424242;
}


input:checked + .slider::before{
    transform: translateX(100%);
}

.alt{
    margin: 10px 0;
}